<section class="row border-top justify-content-center py-5 bg-light">
  <div class="col-md-4 text-center">
    <h2 class="title">View Brochure</h2>
    <div class="d-flex justify-content-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <ng-container *ngFor="let route of routes">
            <ng-container [ngSwitch]="route.link">
              <li class="breadcrumb-item" aria-current="page" *ngSwitchCase="''">{{route.text}}</li>
              <li class="breadcrumb-item active" aria-current="page" *ngSwitchCase="'default'">
                <a routerLink="">{{route.text}}</a></li>
              <li class="breadcrumb-item active" *ngSwitchDefault>
                <a [routerLink]="route.link">{{route.text}}</a>
              </li>
            </ng-container>
          </ng-container>
        </ol>
      </nav>
    </div>
  </div>
</section>
