<div class="container-fluid find-us-container">
  <app-breadcrumb-header [routes]="routes" title="Find us"></app-breadcrumb-header>
  <section class="row g-3 find-us-section">
    <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="purple-gradient color-block z-depth-1 p-3 shadow bg-white rounded d-flex flex-column">
        <span class="text-dark weight-bold h5"><i class="fa-regular fa-map"></i> Location</span>
<!--        <ng-container *ngIf="(apiLoaded | async)">-->
<!--          <google-map width="100%"-->
<!--                      [center]="center"-->
<!--                      [zoom]="zoom"-->
<!--                      (mapClick)="addMarker($event)">-->
<!--            <map-marker [position]="markerPosition" [options]="markerOptions" />-->

<!--          </google-map>-->
<!--        </ng-container>-->
        <app-google-map></app-google-map>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="purple-gradient color-block z-depth-1 p-3 shadow bg-white rounded d-flex flex-column">
        <span class="text-dark weight-bold h5">
           <i class="fa-solid fa-location-dot pe-2"></i>Address</span>
        <address>

            <br />
          No.855 Lebuhraya Sungai Besi <br /> 57100 Kuala Lumpur, Malaysia
          <br />
          <br />
          +6012-296 9789<br />
        </address>
      </div>
    </div>
  </section>
</div>
