<div class="container-fluid" *ngIf="(carDetails$ | async) as carDetails">

  <section class="row border-top justify-content-center py-5 bg-light">
    <div class="col-md-4 text-center">
      <h2 class="title">{{carDetails.model}}</h2>
      <div class="d-flex justify-content-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{carDetails.model}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
<!--  <div class="row">-->

<!--    <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">-->
<!--      @for (link of links; track link) {-->
<!--      <li [ngbNavItem]="link.fragment">-->
<!--        <a ngbNavLink [routerLink]="'/car-details/'+modelId+'/'+link.fragment" [fragment]="link.fragment">{{ link.title }}</a>-->
<!--    </li>-->
<!--      }-->
<!--    </ul>-->
    <router-outlet></router-outlet>
<!--  </div>-->

</div>
