<section class="py-5 vh-80">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start my-4">
            <p class="lead fw-normal mb-0 me-3">Log in as administrator</p>
            <!--            <button type="button" class="btn btn-primary btn-floating mx-1">-->
            <!--              <i class="fab fa-facebook"></i>-->
            <!--            </button>-->

            <!--            <button type="button" class="btn btn-primary btn-floating mx-1">-->
            <!--              <i class="fab fa-twitter"></i>-->
            <!--            </button>-->

            <!--            <button type="button" class="btn btn-primary btn-floating mx-1">-->
            <!--              <i class="fab fa-github"></i>-->
            <!--            </button>-->
          </div>

          <!--          <div class="divider d-flex align-items-center my-4">-->
          <!--            <p class="text-center fw-bold mx-3 mb-0">OR</p>-->
          <!--          </div>-->
          <!-- Email input -->
          <div class="form-outline mb-4">
            <mat-form-field class="height-sm w-100" appearance="outline" floatLabel="always">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username"
                     placeholder="Enter your username">
              <mat-error *ngIf="username?.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <mat-form-field class="height-sm w-100" appearance="outline" floatLabel="always">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password"
                     placeholder="Enter your username">
              <mat-error *ngIf="password?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
<!--            <a href="#!" class="text-body" routerLink="/forgot-password">Forgot password?</a>-->
            <button [disabled]="isButtonLoading" mat-raised-button color="primary" class="float-end"
                    (click)="login($event)">
              <span *ngIf="isButtonLoading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
              Login
            </button>
          </div>

<!--          <div class="text-center text-lg-start mt-4 pt-2">-->
<!--            <button [disabled]="isButtonLoading" mat-raised-button color="primary" class="float-end"-->
<!--                    (click)="login($event)">-->
<!--              <span *ngIf="isButtonLoading" class="spinner-border spinner-border-sm" role="status"-->
<!--                    aria-hidden="true"></span>-->
<!--              Login-->
<!--            </button>-->
<!--          </div>-->
        </form>
      </div>
    </div>
  </div>
</section>
