<div class="container-fluid">
 <app-breadcrumb-header [routes]="routes" title="Download Brochure"></app-breadcrumb-header>
  <ng-template #loading>
    <app-loading-progress></app-loading-progress>
  </ng-template>
  <section class="row download-brochure-section" *ngIf="(carModels$ | async) as cars;else loading;">
    <div class="col-md-4 col-lg-4 col-sm-12 py-5" *ngFor="let car of cars">
      <div class="d-flex align-items-center flex-column">
        <span class="car-title">{{car.model}}</span>
        <img class="carousel-image img-fluid" [ngSrc]="car.model_image"  width="500" height="200" [alt]="car.model" />
        <button mat-stroked-button color="primary" class="mt-4" (click)="downloadPdf('https://car-file-server.sgp1.digitaloceanspaces.com/Jalan%20Cheras%20Hartamas123/brochure/brochure-1','file.pdf')" >
          <i class="fa-solid fa-file-arrow-down pe-2"></i>View Brochure
        </button>
      </div>
    </div>
  </section>
</div>

