.pending{
  border:3px solid yellow;
  background-color: #dfdf86;
}


.completed{
  border:3px solid green;
  background-color: #70b980;
}



.cancelled{
  border:3px solid red;
  background-color: #ae5f5f;
}
.color-red{
  color:red;
}

.color-green{
  color:green;
}

.color-gray{
  color: #617779;
}

.text-50{
  font-size:3rem;
}


