<div class="row justify-content-center py-5 vh-80">
  <div class="col-md-8 pt-3">
    <h2>Manage Appointment</h2>
    <div class="p-3 border rounded-1 overflow-x-auto">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="py-3">
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option *ngFor="let option of options" [color]="option.color" [value]="option.value"
                             [selected]="option.selected"
                             (selectionChange)="onChangeSelection($event)">{{option.title}}</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="py-3">
          <form [formGroup]="searchForm">
            <mat-form-field floatLabel="always" class="example-full-width" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput placeholder="Search" formControlName="search" (keyup.enter)="search($event)"
                     (keyup)="clearSearch($event)">
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </form>
        </div>
      </div>
      <ng-template #loading>
        <app-loading-progress></app-loading-progress>
      </ng-template>
      <ng-container *ngIf="(appointments$ | async) as appointments;else loading">
        <div class="table-container">
        <app-table [data]="appointments" [columns]="displayedColumns" (sort)="sorting($event)" [enableComplete]="enableComplete" [enableCancel]="enableCancel"
                   (cancel)="cancelAppointment($event)"
                   (complete)="completeAppointment($event)"></app-table>
          <mat-paginator [pageSizeOptions]="[25,50,100]"
                                     [pageIndex]="pageable.page"
                                     [pageSize]="pageable.size"
                                     [length]="appointments.totalElements"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements"
                                     (page)="onPageSelection($event)">
                      </mat-paginator>
        </div>
      </ng-container>
    </div>

  </div>
</div>
