<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<div class="container-fluid py-5 vh-80">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="d-flex justify-content-between">
          <h2>Manage Car</h2>
          <a class="align-items-center" mat-mini-fab color="primary" routerLink="/admin/car/add-car" aria-label="Example icon button with a plus one icon">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      <div class="p-3 border rounded-1 overflow-x-auto">
        <div class="d-flex justify-content-between flex-wrap">
          <div>
            <mat-chip-listbox aria-label="Authority selection">
              <mat-chip-option *ngFor="let option of (conditions$ | async)" [ngStyle]="{'background-color':'gray'}"
                               [value]="option.title" [selected]="option.selected"
                               (selectionChange)="onChangeSelection($event)">{{option.title | titlecase}}</mat-chip-option>
            </mat-chip-listbox>
          </div>
          <div class="py-3">
            <form [formGroup]="searchForm">
              <mat-form-field floatLabel="always" class="example-full-width" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search" formControlName="search" (keyup.enter)="search($event)"
                       (keyup)="clearSearch($event)">
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
            </form>
          </div>
        </div>
        <ng-template #loading>
          <app-loading-progress></app-loading-progress>
        </ng-template>
        <ng-container *ngIf="(cars$ | async) as accounts;else loading">
          <div class="table-container" >
            <app-table [data]="accounts" [columns]="displayedColumns" (sort)="sorting($event)" (delete)="delete($event)" [enableEdit]="true" [enableDelete]="true"
            (edit)="edit($event)"></app-table>
            <mat-paginator [pageSizeOptions]="[25,50,100]"
                           [pageIndex]="pageable.page"
                           [pageSize]="pageable.size"
                           [length]="accounts.totalElements"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements"
                           (page)="onPageSelection($event)">
            </mat-paginator>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

