/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Neon Light';
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Extra Bold';
  src: url('assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neon Bold';
  src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

*{
  font-family: 'Neon Light',Montserrat, serif;
}


.bg-white-gray{
  background-color: #f4f4f4;
}

.bg-light-gray{
  background-color:#D3D3D3
}

html, body { height: 100%; }

.vh-50{
  min-height:50vh;
}

.vh-80{
  min-height: 80vh;
}

.carousel-image {
  height: 250px;
  object-fit: fill;
}

.cursor-pointer{
  cursor:pointer;
}

.pt-100{
  padding-top:100px;
}

.pb-100{
  padding-bottom:100px;
}

.pb-150{
  padding-top:150px;
}

.pt-150{
  padding-bottom:150px;
}
