<div class="container-fluid section">
  <div class="row justify-content-center py-5">
    <div class="col-md-12">
      <h1 class="error text-center">401</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <div class="page">Ooops!!! You have no right to access this page</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <a class="back-home" routerLink="/login">Login now</a>
    </div>
  </div>
</div>
